---
import { Container } from "@/components/Container"
import PageHeader from "@/components/PageHeader.astro"
import { ButtonLink } from "@/components/ui/button"
import { Card } from "@/components/ui/card"
import siteConfig from "@/data/site.config"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { formatDate } from "@/lib/formatDate"
import { Icon } from "astro-icon/components"

const content = {
  title: "UX Designer & Developer",
  intro:
    "I’m Marty, a UX designer and developer based in Destin, Florida. I’m the owner of Marty Louis Co, where I help businesses create easy-to-use and functional apps and websites.",
}
---

<BaseLayout
  image={{
    src: "/images/og/martylouis.jpg",
    alt: "Let's make your website better",
  }}
>
  <PageHeader class="mt-9 sm:mt-9" title={content.title} intro={content.intro}>
    <div class="mt-6 flex gap-6 text-zinc-600 dark:text-zinc-400">
      {
        siteConfig.socialLinks.map((link) => (
          <li class="flex">
            <ButtonLink
              size="icon"
              variant="ghost"
              href={link.href}
              target="_blank"
              rel="noreferrer"
              aria-label={link.text}
              className="group"
            >
              <Icon
                name={link.icon}
                class="size-6 flex-none text-zinc-500 transition group-hover:text-teal-500"
              />
            </ButtonLink>
          </li>
        ))
      }
    </div>
  </PageHeader>
  <Container className="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        <Card as="article">
          <Card.Title href="/about">Title</Card.Title>
          <Card.Eyebrow as="time" dateTime="2024-08-28" decorate>
            {formatDate("2024-08-28")}
          </Card.Eyebrow>
          <Card.Description>
            I’m Marty, a UX designer and developer based in Destin, Florida. I’m
            the owner of Marty Louis Co, where I help businesses create
            easy-to-use and functional apps and websites.
          </Card.Description>
          <Card.Cta>Read article</Card.Cta>
        </Card>
        <Card as="article">
          <Card.Title href="/about">Title</Card.Title>
          <Card.Eyebrow as="time" dateTime="2024-08-28" decorate>
            {formatDate("2024-08-28")}
          </Card.Eyebrow>
          <Card.Description>
            I’m Marty, a UX designer and developer based in Destin, Florida. I’m
            the owner of Marty Louis Co, where I help businesses create
            easy-to-use and functional apps and websites.
          </Card.Description>
          <Card.Cta>Read article</Card.Cta>
        </Card>
        <Card as="article">
          <Card.Title href="/about">Title</Card.Title>
          <Card.Eyebrow as="time" dateTime="2024-08-28" decorate>
            {formatDate("2024-08-28")}
          </Card.Eyebrow>
          <Card.Description>
            I’m Marty, a UX designer and developer based in Destin, Florida. I’m
            the owner of Marty Louis Co, where I help businesses create
            easy-to-use and functional apps and websites.
          </Card.Description>
          <Card.Cta>Read article</Card.Cta>
        </Card>
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <h3>Newsletter</h3>
        <h3>Resume</h3>
      </div>
    </div>
  </Container>
</BaseLayout>
