---
import { Container } from "@/components/Container"
import Image from "@/components/DynamicImage.astro"
import PageHeader from "@/components/PageHeader.astro"
import { Card } from "@/components/ui/card"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { getEntry } from "astro:content"

const content = {
  title: "Things I’ve made trying to put my dent in the universe.",
  intro:
    "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of. Many of them are open-source, so if you see something that piques your interest, check out the code and contribute if you have ideas for how it can be improved.",
}

const workEntries = await getEntry("projects", "work")
---

<BaseLayout
  title="Projects"
  description="Learn more about the tools and software I use."
>
  <PageHeader title={content.title} intro={content.intro} />
  <Container className="my-20">
    <ul
      role="list"
      class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        workEntries.data
          .sort((a, b) => b.id.localeCompare(a.id))
          .map((entry) => (
            <Card as="li">
              {entry.image && (
                <div class="mb-6 overflow-hidden rounded-2xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                  <Image
                    src={entry.image.src}
                    alt={entry.image.alt}
                    class="pointer-events-none relative z-10 rounded-2xl"
                    width={600}
                    height={800}
                    format="webp"
                  />
                </div>
              )}
              <Card.Title href={entry.url}>{entry.title}</Card.Title>
              {entry.description && (
                <Card.Description>{entry.description}</Card.Description>
              )}
              {entry.url && <Card.Cta>View</Card.Cta>}
            </Card>
          ))
      }
    </ul>
  </Container>
</BaseLayout>
