---
import { metadata, trailingSlash } from "@/site.config";
import { generateNormalizedUrl } from "@/lib/urlsUtils";

type Props = {
  title: string | undefined;
  description: string | undefined;
  image?: {
    src: string;
    alt: string;
  } | null;
  canonicalURL?: URL | string | null;
};

const {
  title,
  description,
  image,
  canonicalURL = generateNormalizedUrl(
    Astro.url.pathname,
    Astro.site,
    trailingSlash,
  ),
} = Astro.props;

if (!title) {
  throw new Error("Title is required for SEO");
}

if (!description) {
  throw new Error("Description is required for SEO");
}

// throw warning if image is not provided
if (!image) {
  console.warn("Image is not provided for SEO");
}
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />

<title>{`${title} - ${metadata.name}`}</title>
<meta name="description" content={description || metadata.description} />

<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<meta name="generator" content={Astro.generator} />

{/* Open Graph Meta */}
<meta property="og:type" content="website" />
<meta property="og:title" content={title || metadata.title} />
<meta property="og:description" content={description || metadata.description} />
<meta property="og:url" content={canonicalURL} />

{/* Twitter Meta */}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={metadata.twitter} />
<meta name="twitter:creator" content={metadata.twitter} />
<meta name="twitter:title" content={title || metadata.title} />
<meta
  name="twitter:description"
  content={description || metadata.description}
/>
{
  image && (
    <>
      <meta name="twitter:image" content={image.src} />
      <meta name="twitter:image:alt" content={image.alt} />
    </>
  )
}

<meta name="author" content={metadata.author.name} />

<link rel="canonical" href={canonicalURL} />
