---
import {
  HeaderDesktopNav,
  HeaderDesktopNavItem,
} from "@/components/HeaderDesktopNav"
import {
  HeaderMobileNav,
  HeaderMobileNavItem,
} from "@/components/HeaderMobileNav"
import siteNav, { type NavItem } from "@/data/site.nav"
import { isCurrentPage } from "@/lib/utils"
---

<div class="flex flex-1 justify-end md:justify-center">
  <HeaderMobileNav client:only="react">
    {
      siteNav.headerMobile.map(({ href, text }: NavItem) => {
        return <HeaderMobileNavItem href={href}>{text}</HeaderMobileNavItem>
      })
    }
  </HeaderMobileNav>
  <HeaderDesktopNav className="pointer-events-auto hidden md:block">
    {
      siteNav.headerDesktop.map(({ href, text }: NavItem) => {
        const isCurrent = isCurrentPage(href, Astro.url.pathname)
        return (
          <HeaderDesktopNavItem
            isCurrent={isCurrent}
            href={href}
            aria-current={isCurrent ? "page" : undefined}
          >
            {text}
          </HeaderDesktopNavItem>
        )
      })
    }
  </HeaderDesktopNav>
</div>
