---
import { DesktopNav, DesktopNavItem } from "@/components/DesktopNav";
import { MobileNav, MobileNavItem } from "@/components/MobileNav";
import siteNav, { type NavItem } from "@/data/site.nav";
import { isCurrentPage } from "@/lib/utils";
---

<div class="flex flex-1 justify-end md:justify-center">
  <MobileNav client:load>
    {
      siteNav.headerMobile.map(({ href, text }: NavItem) => (
        <MobileNavItem href={href}>{text}</MobileNavItem>
      ))
    }
  </MobileNav>
  <DesktopNav className="pointer-events-auto hidden md:block">
    {
      siteNav.headerDesktop.map(({ href, text }: NavItem) => {
        const isActive = isCurrentPage(href, Astro.url.pathname);
        return (
          <DesktopNavItem isActive={isActive} href={href}>
            {text}
          </DesktopNavItem>
        );
      })
    }
  </DesktopNav>
</div>
