---
import ButtonLink from "@/components/ButtonLink.astro";
import { cn } from "@/lib/utils";
import { ArrowTopRightIcon } from "@radix-ui/react-icons";
import { Image } from "astro:assets";

const { entry, ...props } = Astro.props;
const { title, url, image } = entry.data;
const { Content } = await entry.render();
---

<div {...props}>
  <div class="mb-4">
    <h3 class="flex text-xl font-bold">
      {
        url ? (
          <a
            href={url}
            target="_blank"
            rel="noreferrer"
            class="hover:bg-accent -ml-2 inline-block rounded px-2 transition-all duration-150 ease-in will-change-transform hover:scale-[1.025] hover:ease-out"
          >
            <span class="inline-block">{title}</span>
            <ArrowTopRightIcon className="size-5 inline-block" />
          </a>
        ) : (
          <Fragment set:text={title} />
        )
      }
    </h3>

    <div class="text-foreground/75 my-2">
      <Content />
    </div>
  </div>

  <!-- Project Image -->
  <div class="bg-zinc-500/10">
    <div class="overflow-hidden pt-8 px-8">
      <div class="shadow">
        {
          image && (
            <Image
              src={image.src}
              alt={image.alt}
              class="bg-border ring-border block aspect-[5/4] w-full rounded-t-2xl object-cover object-top ring-4"
              width={600}
            />
          )
        }
      </div>
    </div>
  </div>
</div>
