---
import { ArrowTopRightIcon } from "@radix-ui/react-icons";
import { Image } from "astro:assets";

const { entry, ...props } = Astro.props;
const { title, url, image } = entry.data;
const { Content } = await entry.render();
---

<div {...props}>
  {
    image && (
      <Image
        src={image.src}
        alt={image.alt}
        width={800}
        class="ring-offset-background ring-border mb-4 aspect-[5/3] w-full shrink-0 overflow-hidden rounded-sm object-cover object-top ring-1 ring-offset-1"
      />
    )
  }

  <div class="mb-4">
    <h3 class="flex font-bold">
      {
        url ? (
          <a href={url} target="_blank" rel="noreferrer" class="">
            <span class="inline-block">{title}</span>
            <ArrowTopRightIcon className="size-4 inline-block" />
          </a>
        ) : (
          <Fragment set:text={title} />
        )
      }
    </h3>

    <div class="text-foreground/75 my-2">
      <Content />
    </div>
  </div>
</div>
